<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Play with directives</title>
	<link type="stylescheet" href="./styles/styles.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="./scripts/main.js"></script>
	<script src="./scripts/playHardWithDirectives.js"></script>
</head>

<body style="background: lightgreen" ng-app="playDirectives" >
	<div ng-controller="playHardWithDirectives">
		<h1>playHardWithDirectives</h1>
		<solar-system>
			<planet name="earth">
				<img ng-src="http://solarviews.com/raw/earth/bluemarblewest.jpg" width="100px" height="100px" />
			</planet>
						<planet name="mars">
							<img ng-src="http://mars.nasa.gov/images/mars-globe-valles-marineris-enhanced.jpg" width="100px" height="100px" />
						</planet>
									<planet name="status">
										<img ng-src="http://nssdc.gsfc.nasa.gov/image/planetary/saturn/saturn.jpg" width="100px" height="100px" />
									</planet>
		</solar-system>
		
	</div>
	
	<div ng-controller="playDirectives">
		<h1>Angular Directives Simple</h1>
		<h5 my-customer></h3>
	<my-customer-template-url type="1"></my-customer-template-url>
	<h6 my-customer-template-url type="2"></h6>
	<my-customer-info data="customer"></my-customer-info>
	<h2>Fancy Counter</h2> <br/>
	Start: <input ng-model="start" type="number"/> 	
	Delay: <input ng-model="delay" type="number"/>
	<h5 counter start="start" delay="delay">{{customer.name}}</h5>
		<in-page-dialog on-update="update(custName, custAge)"></in-page-dialog>
	</div>

	
</body>

</html>